/**
 * Place your custom styles here.
 */
#navbar > div.navbar-header > div > a > img {
  vertical-align: middle;
  padding: 0.3em;
}

.navbar-default .navbar-brand {
  position: absolute;
  text-indent: -9999px;
}
